[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vimspeak"]
	path = bundle/vimspeak
	url = git@github.com:mhameed/vimspeak
[submodule "bundle/vim-gnupg"]
	path = bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "bundle/vim-unicodeBraille"]
	path = bundle/vim-unicodeBraille
	url = https://github.com/mhameed/vim-unicodeBraille
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet/
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/vimmhdiff"]
	path = bundle/vimmhdiff
	url = git@git.mesarhameed.info:mhameed/vimmhdiff.git
