[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vimspeak"]
	path = bundle/vimspeak
	url = git@github.com:mhameed/vimspeak
[submodule "bundle/vim-gnupg"]
	path = bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg
[submodule "bundle/vim-unicodeBraille"]
	path = bundle/vim-unicodeBraille
	url = https://github.com/mhameed/vim-unicodeBraille
